extends layout

block content
  .card
    h1.text-center Booking Confirmed!

    .booking-details
      .detail-group
        h3 Ride Details
        .detail-item
          span.label Pickup Location:
          span.value= ride.pickup_location
        .detail-item
          span.label Dropoff Location:
          span.value= ride.dropoff_location
        .detail-item
          span.label Cost:
          // Ensure ride.cost is a valid number before using toFixed
          span.value= '£1' + (typeof ride.cost === 'number' && !isNaN(ride.cost) ? ride.cost.toFixed(2) : '0.00')

    .detail-group
      h3 Driver Information
      .detail-item
        span.label Driver Name:
        span.value= driver.firstname + ' ' + driver.lastname
      .detail-item
        span.label Driver Rating:
        span.value= driver.rating + ' ★'

    .actions
      a.btn.btn-primary(href="/dashboard") Return to Dashboard
