extends layout

block content
  h1 Ride Details

  if rides && rides.length > 0
    each ride in rides
      .ride-details
        h2 Ride Information
        table
          thead
            tr
              th Pickup Location
              th Dropoff Location
              th Cost
          tbody
            tr
              td= ride.pickup_location
              td= ride.dropoff_location
              td= '$' + (parseFloat(ride.cost) || 0).toFixed(2)
        h3 Driver Information
        table
          thead
            tr
              th First Name
              th Last Name
              th Email
              th Rating
          tbody
            tr
              td= ride.user_firstname
              td= ride.user_lastname
              td= ride.user_email
              td= ride.user_rating
  else
    p No ride details available.
  
  a.btn-back(href="/about") ← Back to About Page
