extends layout

block content
  h1 Reviews
  if reviews && reviews.length
    each review in reviews
      .review
        p Review ID: #{review.review_id}
        p Ride ID: #{review.ride_id}
        p User ID: #{review.user_id}
        p Rating: #{review.rating}
        p Comment: #{review.COMMENT}
        hr
  else
    p No reviews available.
  p <a href="/review/new">Add a Review</a>
